.message-box {
  display: flex;
  height: calc(100vh - 80px);
}
.message-list {
  width: 25%;
  border-right: 1px solid #e5e5e5;
  padding-right: 20px;
  height: 100%;
  padding-left: 20px;
}
.message-content {
  width: 50%;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
  border-right: 1px solid #e5e5e5;
  position: relative;
  height: 100%;
}

.message-content .message-empty {
  display: flex;
  align-items: center;
  justify-content: center;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 104.5%;
  text-align: center;
  color: #707582;
}

.message-profile {
  width: 30%;
  padding: 40px;
  height: 100%;
  overflow-y: auto;
}

.message-content .item-list .left-item {
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
  /* align-items: center; */
  width: 50%;
}

.message-content .item-list .right-item {
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
}
.message-footer {
  display: flex;
  position: absolute;
  bottom: 10px;
}

.message-footer > section {
  position: absolute;
  bottom: 40px;
  width: calc(100% - 40px);
  z-index: 2000;
}

.message-footer .input {
  padding-left: 20px;
  border-radius: 12px;
  border: 1px solid #949bab;
  width: 100%;
  outline: none;
}

.message-footer .input:placeholder-shown {
  background-color: #f7f9fe;
}

.message-footer .audio-icon {
  cursor: pointer;
  width: 20px;
  height: 20px;
  margin-top: 10px;
}

.message-footer .attachment-icon {
  margin-left: 13px;
  margin-right: 13px;
  cursor: pointer;
}

.message-footer .emoji-icon {
  margin-right: 13px;
  cursor: pointer;
}

.message-footer .send-icon {
  background-color: #181818;
  border-radius: 10px;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 13px;
  padding: 11px;
  cursor: pointer;
}

.message-content .item-list .left-item .item-content {
  background: #eff2f8;
  border-radius: 10px;
  color: #949bab;
  padding: 15px;
}

.message-content .item-list-container {
  overflow-y: auto;
  scrollbar-width: none;
  height: calc(100% - 80px);
}

.message-content .item-list .right-item .item-content {
  border: 1px solid #eff2f8;
  border-radius: 10px;
  color: #949bab;
  padding: 15px;
}

.left-item .item-content .item-subtitle {
  font-size: 8px;
  color: grey;
  display: flex;
  justify-content: flex-start;
}

.right-item .item-content .item-subtitle {
  font-size: 8px;
  color: grey;
  display: flex;
  justify-content: flex-end;
}

.right-item .item-content .item-message {
  width: 100%;
  text-align: right;
  margin-bottom: 2px;
  margin-top: 2px;
}

.left-item .item-content .item-message {
  width: 100%;
  text-align: left;
  margin-bottom: 2px;
  margin-top: 2px;
}

.right-item .item-content .item-file {
  display: flex;
}

.left-item .item-content .item-file {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.right-item .item-content .item-file .item-file-name{
  width: calc(100% - 30px);
  font-size: 12px;
  margin-right: 10px;
  display: flex;
  align-items: center;
}
.left-item .item-content .item-file .item-file-name{
  width: calc(100% - 30px);
  font-size: 12px;
  margin-right: 10px;
  display: flex;
  align-items: center;
}
.right-item .item-content .item-file .item-file-icon{
  width: 20px;
  height: 20px;
  cursor: pointer;
}
.left-item .item-content .item-file .item-file-icon{
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.message-content .item-list .avatar-container {
  border-radius: 50%;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  /* filter: drop-shadow(0px 2px 8px rgba(0, 0, 0, 0.2)); */
  width: 40px;
  height: 40px;
  margin-right: 20px;
}
.message-content .item-list .avatar-container .message-item-avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.message-content .item-list .item-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
