.plotDark {
  background: transparent;
}
.plotDark * {
  background: transparent !important;
  color: #99a1b3 !important;
  font-size: 9px !important;
  font-family: Agrandir;
}
.plotDark g > rect:first-child {
  background: rgba(255, 255, 255, 0.16) !important;
}
