.roundedButton {
    border-radius: 25px;
    color: white;
    height: 50px;
    padding: 0px 15px;
    margin: 0 !important;
    font-weight: 700;
    font-size: 16px;
    width: 180px;
    margin-right: 10px !important;
    background-color: rgb(100, 200, 158) !important;
    padding: 0px 15px !important;
    display: flex;
    justify-content: center;
    align-items: center;
}