.discussion-posts {
  display: flex;
  width: 100%;
  height: 100%;
}

.discussion-posts .loaderDiv {
  width: 100%;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
}

.discussion-posts .discussion-headers {
  display: flex;
  flex-direction: column;
  // width: calc(30% - 14px);
  width: 300px;
  height: 100%;
  margin-right: 14px;
  overflow-y: auto;
  scrollbar-width: none;
  padding: 8px 8px;
}

.discussion-posts .discussion-headers .discussion-header {
  background: #ffffff;
  box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.1);
  border-radius: 48px;
  margin-bottom: 7px;
  padding: 14px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  color: #181818;
  cursor: pointer;
  text-overflow: ellipsis;
}

.discussion-posts .discussion-headers .discussion-header.selected {
  border: 2px solid #7f6fff;
  padding: 12px;
}

.discussion-posts .selected-discussion {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px 25px;
  border-left: 1px solid #18181822;
}

.discussion-posts .selected-discussion .inputDiscordChat {
  display: flex;
  margin-top: 8px;
}

.discussion-posts .selected-discussion .discussions-content {
  padding-left: 16px;
  padding-right: 16px;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  scrollbar-width: none;
  margin: 0;
  width: 100%;
}

/* Handle */
.discussions-content::-webkit-scrollbar-thumb {
  background: linear-gradient(97.4deg, #ff79d1 14.43%, #db00ff 79.45%);
}

.discussion-posts .selected-discussion .discussions-content .discussion-item {
  width: 100%;
  display: flex;
  align-items: flex-start;
  margin-bottom: 16px;
  color: "white";
  position: relative;
}

.discussion-posts .selected-discussion .discussions-content .discussion-item .avatar {
  position: absolute;
  bottom: -16px;
  right: -16px;
}

.discussion-posts .selected-discussion .discussions-content .discussion-item .otherAvatar {
  position: absolute;
  bottom: -16px;
  left: -16px;
}

.discussion-posts .selected-discussion .discussions-content .discussion-item .bubble {
  background: #9eacf2;
  border-radius: 10px;
  padding: 24px 14px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 120%;
  color: white;
}

.discussion-posts .selected-discussion .discussions-content .discussion-item.mine {
  justify-content: flex-end;
}

.discussion-posts .selected-discussion .discussions-content .discussion-item.mine .bubble {
  border: 1px solid #eff2f8;
  box-sizing: border-box;
  background-color: #ddff57;
  color: black;
}

.discussion-posts .selected-discussion form {
  display: flex;
  flex: 1;
  align-items: center;
}

.discussion-posts .selected-discussion form .comment {
  background: #f7f9fe;
  border: 1px solid #707582;
  box-sizing: border-box;
  border-radius: 11.36px;
  height: 40px;
  font-family: Agrandir;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 120%;
  color: #99a1b3;
  padding: 11.5px 15px;
  width: 100%;
  outline: none;
}

.discussion-posts .selected-discussion form button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  height: 40px;
  width: 40px;
  margin-left: 8px;
}

.discussion-posts .selected-discussion form button img {
  width: 17px;
  height: 17px;
}

.discussion-posts .no-comments {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.discussion-posts .no-comments span:first-child {
  font-size: 30px;
  text-align: center;
}

.discussion-posts .no-comments span:last-child {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 104.5%;
  margin-top: 10px;
  text-align: center;
  color: #181818;
}

.discussion-posts .bubble .messageInfoAudio {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.discussion-posts .bubble .messageInfoPhoto {
  cursor: pointer;
  width: 180px;
  height: 180px;
  border-radius: 20px;
  /* background-color: rgba(219, 223, 224, 0.4); */
}
.discussion-posts .bubble .messageInfoPhoto {
  cursor: pointer;
  width: 180px;
  height: 180px;
  border-radius: 20px;
  /* background-color: rgba(219, 223, 224, 0.4); */
}
.discussion-posts .bubble .messageInfoVideo {
  height: 180px;
  width: 180px !important;
  max-width: 180px;
  color: white;
  border-radius: 20px;
  background-color: rgba(219, 223, 224, 0.4);
  position: relative;
}
.discussion-posts .bubble .messageInfoVideo .iconVideoWrapperDiscussions {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  background-color: rgba(128, 128, 128, 0.4);
  cursor: pointer;
  width: 100%;
  height: 100%;
  border-radius: 20px;
}
.discussion-posts .bubble .messageInfoVideo .playIconVideoDiscussions {
  width: 32px;
  height: 32px;
}
.discussion-posts .bubble .messageInfoVideo .react-player {
  width: 180px !important;
  height: 180px !important;
  border-radius: 20px;
  transform: none;
}

.discussion-posts .messageInfoVideo .react-player video {
  width: 180px !important;
  border-radius: 20px;
  object-fit: cover;
}
.iconsDiscordMessage {
  > section {
    position: absolute;
    z-index: 2000;
    bottom: 31px;
    left: 0px;
  }
  position: relative;
  width: 100px;
  margin-right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.iconImgDiscordMessage {
  position: relative !important;
  width: calc(100% / 3);
  display: flex;
  justify-content: center;
  align-items: center;
}
.iconImgDiscordMessage {
  section {
    position: absolute;
  }
}

.emoji-mart .emoji-mart-scroll {
  background-color: white;
}

.messageDateFromNow {
  font-size: 8px;
  width: 100%;
  margin-top: 3px;
}

.title-topic {
  font-size: 16px;
  font-weight: bold;
  text-overflow: ellipsis;
  overflow: hidden;
}
.last-message-topic {
  font-size: 14px;
  margin-bottom: 5px;
  text-overflow: ellipsis;
  overflow: hidden;
}
.last-message-date-topic {
  font-size: 10px;
  text-overflow: ellipsis;
  overflow: hidden;
}

.bubble .item-file {
  display: flex;
  align-items: center;
}
.bubble .item-file .item-file-name {
  width: calc(100% - 30px);
  font-size: 12px;
  margin-right: 10px;
  display: flex;
  align-items: center;
}
.bubble .item-file .item-file-icon {
  width: 20px;
  height: 20px;
  cursor: pointer;
}
@media screen and (max-width: 767px) {
  .discussion-posts .selected-discussion {
    padding: 16px 4px !important;
  }
  .discussion-posts .selected-discussion form .comment {
    min-width: 80px;
  }
  .discussion-posts .bubble .messageInfoPhoto {
    width: 90px;
    height: 90px;
  }
  .discussion-posts .bubble .messageInfoVideo {
    width: 90px !important;
    height: 90px !important;
    max-width: 90px !important;
  }
  .discussion-posts .bubble .messageInfoVideo .react-player {
    width: 90px !important;
    height: 90px !important;
    max-width: 90px !important;
  }
  .discussion-posts .messageInfoVideo .react-player video {
    width: 90px !important;
    height: 90px !important;
    max-width: 90px !important;
  }
  .discussion-posts .selected-discussion .discussions-content .discussion-item .bubble audio {
    width: 120px !important;
  }
  .discussion-posts .selected-discussion .discussions-content .discussion-item .bubble .audioPlayer {
    width: 120px !important;
  }
}
