.podDiscordFullPage {
  width: 100%;
  height: 100%;
  background-color: white;
  border-radius: 20px;
  /* margin-bottom: 30px; */
}
.podDiscordGrid.selected .podDiscordChatGrid {
  display: block;
}
.podDiscordGrid .podDiscordRoomList .podDiscordRoom {
  border-bottom: 1px solid #e7e7e7;
}
.podDiscordGrid.selected .podDiscordRoomList .podDiscordRoom {
  border-bottom: none;
}

.podDiscordGrid.selected .discussion-sidebar {
  display: block;
  height: fit-content;
}
.podDiscordGrid .discussion-sidebar {
  display: none;
}
.podDiscordRoomList {
  background-color: white;
  height: 100% !important;
  width: 100%;
  max-width: 100% !important;
  overflow-y: auto;
  scrollbar-width: none;
}
.podDiscordChatGrid {
  width: 100%;
  max-width: unset;
  border: none;
}
.podGroupDiscordRoom {
  margin-bottom: 20px;
  margin-left: 20px;
  margin-right: 20px;
  width: calc(100% - 40px);
  display: flex;
}

.podGroupDiscordRoom .podDiscordRoom:last-child .podDiscordRoomContent {
  border-bottom: none;
}

.podGroupDiscordRoom .podDiscordRoom .podDiscordRoomContent .arrow-down img {
  width: 7px;
  height: 14px;
}

.podDiscordRoom {
  display: flex;
  cursor: pointer;
  padding: 10px 20px;
  padding-bottom: 0;
  width: 100%;
  margin-left: -20px;
}
.podDiscordRoom .podDiscordRoomContent {
  display: flex;
  cursor: pointer;
  width: 100%;
  padding-bottom: 10px;
  align-items: center;
}
.podDiscordRoom.selected {
  background: #eff2f8;
  border-left: 3px solid rgba(100, 200, 158, 1);
  padding-left: 17px;
}
.podDiscordRoomHeader {
  font-size: 14px;
  font-weight: 700;
  line-height: 28px;
  color: #5a5a5a;
  margin-bottom: 10px;
}
.podDiscordGrid.selected .podDiscordRoom .members-bubbles {
  display: none;
}
.podDiscordGrid .user-admin-bubble {
  width: 64px;
  height: 64px;
  margin-right: 20px;
}
.podDiscordRoom .members-bubbles .user-bubble {
  width: 30px;
  height: 30px;
  margin-left: -10px;
  border: 2px solid white;
  background-color: #b1b1b1;
}
.podDiscordRoom .members-bubbles .user-more-count {
  background-color: #fff;
  color: #6b6b6b;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: normal;
  padding: 4px 8px;
  margin-left: -10px;
  border-radius: 8px;
  font-size: 11px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
}
.podDiscordGrid.selected .podDiscordRoom .discordRoomInfo {
  padding-left: 0px;
  border-left: none;
}
.podDiscordGrid .podDiscordRoom .discordRoomInfo {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.podDiscordRoomName time {
  margin-left: 5px;
  color: #b1b1b1;
  font-size: 14px;
  font-weight: normal;
  text-align: right;
}
.podDiscordRoom .discordRoomInfo .last-message p {
  font-size: 14px;
  overflow: hidden;
  white-space: normal;
  text-overflow: ellipsis;
  line-height: 20px;
}
.podSelectedDiscordRoomName {
  font-size: 14px;
  font-weight: 600;
  line-height: 28px;
  color: rgb(8, 24, 49);
  width: 100%;
  border-radius: 20px;
  background-color: rgba(137, 153, 184, 0.2);
  padding-left: 10px;
  padding-top: 3px;
  padding-bottom: 3px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.podDiscordChat {
  width: 100%;
  height: 100%;
  padding: 8px;
  box-sizing: border-box;
  padding-bottom: 0 !important;
}
.noMessagesLabelChat {
  font-size: 14px;
  color: grey;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 100%;
}
.podMessagesDiscordChat {
  height: calc(100% - 80px) !important;
  margin-bottom: 20px;
  width: 100%;
  overflow-y: auto;
  scrollbar-width: none;
}
.podInputDiscordChat {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.podIconsDiscordMessage {
  width: 100px;
  margin-right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.podIconImgDiscordMessage {
  width: calc(100% / 3);
  display: flex;
  justify-content: center;
  align-items: center;
}
.podSendDiscordMessage {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: calc(100% - 110px);
  position: relative;
}

.noItemsLabel {
  width: 100%;
  color: grey;
  font-size: 16px;
  text-align: center;
  margin-top: 10px;
}

.podSendDiscordMessage input {
  outline: none;
  width: calc(100%);
  height: 35px;
  border: 0;
  padding: 5px 10px;
  padding-left: 20px;
  border-radius: 20px;
  box-shadow: 1px 1px 16px #ccc;
}
.podSendDiscordMessage button {
  margin: 0;
  margin-left: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 7px 9px;
  color: #fff;
  background-color: #181818;
  outline: none;
  height: 34px;
}
.podSendDiscordMessage button:hover {
  background-color: rgb(207 208 226);
}
.podSendDiscordMessage button svg {
  color: rgb(79, 159, 233);
  width: 18px;
  height: 18px;
}
.podDiscordChatGrid {
  height: 100%;
}
.podMessageDiscordChatContainer {
  padding: 10px 0px;
  width: calc(100% - 10px);
  display: flex;
  flex-direction: column;
}
.podMessageDiscordChat {
  display: flex;
}
.podMessageDiscordChat.mine {
  justify-content: flex-end !important;
  margin-right: 0;
}
.podMessageRowDiscordChat {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  position: relative;
}
.podMessageRowDiscordChat .userPhoto {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: #5a5a5a;
  position: absolute;
}
.podMessageDiscordChat.mine .userPhoto {
  bottom: -9px;
  right: -9px;
}
.podMessageDiscordChat.notmine .userPhoto {
  bottom: -9px;
  left: 34px;
}
.podMessageRowDiscordChat .userPhoto .online {
  color: green;
  font-size: 30px;
  position: absolute;
  right: -6px;
  bottom: -13px;
  -webkit-text-strokeWidth: 2px;
  -webkit-text-stroke-color: #fff;
}
.podMessageRowDiscordChat .userPhoto .offline {
  color: gray;
  font-size: 30px;
  position: absolute;
  right: -6px;
  bottom: -13px;
  -webkit-text-strokeWidth: 2px;
  -webkit-text-stroke-color: #fff;
}
.podMessageRowDiscordChat .bubble {
  border-radius: 25px;
  padding: 15px;
  padding-bottom: 10px;
  font-size: 14px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  box-shadow: 1px 1px 8px rgba(221, 221, 221, 0.5);
  word-break: break-word;
  max-width: 600px;
}
.podMessageDiscordChat.mine .podMessageRowDiscordChat {
  flex-direction: row-reverse;
}
.podMessageDiscordChat.mine .podMessageRowDiscordChat .bubble {
  background-color: rgb(242, 107, 164);
  color: white;
  align-self: flex-end;
  width: fit-content;
  margin-left: 10px;
  align-items: flex-end;
  border-radius: 20px;
}
.podMessageDiscordChat.notmine .podMessageRowDiscordChat .bubble {
  align-self: flex-start;
  width: fit-content;
  border-radius: 20px;
}
.podMessageDiscordChat.notmine .podMessageRowDiscordChat .bubble .podMessageInfo {
  color: white;
}
.podMessageDiscordChat.mine .podMessageRowDiscordChat .bubble {
  border-radius: 20px;
}
.podMessageColumnInfoDiscordChat {
  display: flex;
  /* flex-direction: column; */
  /* width: 100%; */
  align-items: center;
}
.mine .podMessageColumnInfoDiscordChat {
  /* align-items: flex-end; */
}
.notmine .podMessageColumnInfoDiscordChat .actionsRow {
  /* align-self: flex-end; */
}
.mine .podMessageColumnInfoDiscordChat .actionsRow {
  /* align-self: flex-start; */
}
.podMessageColumnInfoDiscordChat .actionsRow {
  margin-left: 10px;
  z-index: 1;
  /* margin-bottom: -25px;
  margin-top: -6.5px; */
  background-color: #b1b1b1;
  border-radius: 10px;
  width: fit-content;
  padding: 5px 10px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  color: white;
}
.podMessageRowInfoDiscordChat .actionsRow svg {
  margin: 0;
}
.podMessageInfoDiscordChat .userInfo {
  font-size: 14px;
  font-weight: 500;
  line-height: 22px;
  color: rgb(29, 83, 164);
}
.podMessageInfoDiscordChat .podMessageInfo {
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  color: rgb(8, 24, 49);
}
.podMessageInfoDiscordChat .messageInfoPhoto {
  cursor: pointer;
  width: 180px;
  height: 180px;
  border-radius: 20px;
  background-color: rgba(219, 223, 224, 0.4);
}
.podMessageInfoDiscordChat .messageInfoVideo {
  height: 180px;
  width: 180px !important;
  max-width: 180px;
  color: white;
  border-radius: 20px;
  background-color: rgba(219, 223, 224, 0.4);
  position: relative;
  cursor: pointer;
}

.podMessageInfoDiscordChat .messageInfoVideo .iconVideoWrapperJarr {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  background-color: rgba(128, 128, 128, 0.4);
  cursor: pointer;
  width: 100%;
  height: 100%;
  border-radius: 20px;
}

.podMessageInfoDiscordChat .messageInfoVideo .iconVideoWrapperJarr .playIconVideoJarr {
  width: 32px;
  height: 32px;
}

.podMessageInfoDiscordChat .messageInfoVideo .react-player {
  height: 180px !important;
  border-radius: 20px;
  transform: none;
  width: 180px !important;
}

.podMessageInfoDiscordChat .messageInfoVideo .react-player video {
  border-radius: 20px;
  object-fit: cover;
  width: 180px !important;
}

.podMessageInfoDiscordChat .messageInfoAudio {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.podMessageInfoDiscordChat .created {
  font-size: 10px;
  margin-top: 5px;
  color: #5a5a5a;
}
.mine .podMessageInfoDiscordChat .created {
  color: white;
}
.podIconCenterFlex {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.podMessageAudioRow {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}
.podProgressBarAudioRow {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}
.podProgressBarAudio {
  width: calc(100% - 120px);
  height: 10px;
  background-color: #b1b1b1;
  z-index: 0;
}
.podProgressBarAudioLoaded {
  height: 10px;
  background-color: #5a5a5a;
  z-index: 10;
}
.podProgressBarAudioPlayed {
  background-color: #323232;
  height: 10px;
  z-index: 20;
  margin-top: -10px;
}

.podSendDiscordMessage textarea {
  display: none;
  outline: none;
  width: calc(100%);
  padding: 8px;
  border-radius: 8px;
  border: none;
  background: transparent;
  box-shadow: none;
  resize: none;
}
.podDiscordChat .podInputDiscordChat button.emoji-mart-search-icon {
  height: unset;
  border-radius: 0px;
}

.podMessageInfo .item-file {
  display: flex;
  align-items: center;
}
.podMessageInfo .item-file .item-file-name {
  width: calc(100% - 30px);
  font-size: 12px;
  margin-right: 10px;
  display: flex;
  align-items: center;
}
.podMessageInfo .item-file .item-file-icon {
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.noMessagesLabelChat {
  font-size: 14px;
  color: grey;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 100%;
}

@media screen and (max-width: 767px) {
  .podDiscordGrid {
    padding: 0;
  }

  .podMessageDiscordChat.mine {
    width: 100%;
  }

  .podMessageDiscordChat.mine .podMessageRowDiscordChat {
    width: 100%;
  }

  .mine .podMessageInfoDiscordChat {
    width: 100%;
  }

  .podMessageDiscordChat.mine .podMessageRowDiscordChat .bubble {
    width: 100%;
  }

  .podMessageDiscordChat.mine .podMessageRowDiscordChat .bubble audio {
    width: 100%;
  }

  .podGroupDiscordRoom {
    margin: 0 24px 0 0;
    width: 100%;
  }

  .podDiscordGrid.selected .podDiscordRoomList .podDiscordRoom {
    padding: 0;
    margin-left: 0;
  }

  .podDiscordGrid .user-admin-bubble {
    width: 32px;
    height: 32px;
    margin-right: 12px;
  }

  .podDiscordGrid.selected .podDiscordRoom .discordRoomInfo {
    max-width: calc(100% - 60px);
  }

  .podGroupDiscordRoom .podDiscordRoom .podDiscordRoomContent {
    margin-bottom: 0;
    padding: 12px 8px !important;
  }

  .podDiscordRoomName p {
    font-size: 14px;
  }

  .podDiscordRoomHeader {
    margin: 0;
  }

  .podMessageRowDiscordChat .userPhoto {
    width: 16px;
    height: 16px;
    min-width: 16px;
    margin-right: -16px;
  }

  .podMessageRowDiscordChat .userPhoto .offline {
    display: none;
  }

  .notmine .podMessageInfoDiscordChat {
    padding-right: 30px;
  }

  .podMessageRowDiscordChat,
  .notmine .podMessageInfoDiscordChat,
  .podMessageDiscordChat.notmine .podMessageRowDiscordChat .bubble,
  .podMessageDiscordChat.notmine .podMessageRowDiscordChat .bubble audio {
    width: 100%;
  }

  .notmine .podMessageInfoDiscordChat {
    margin-left: 25px;
  }

  .podIconsDiscordMessage {
    width: 50px;
    margin-bottom: 8px;
  }

  .podIconImgDiscordMessage img {
    width: 15px;
    height: 15px;
    margin-top: 8px;
  }

  .podSendDiscordMessage {
    width: 100% !important;
    height: 100%;
    align-items: flex-end;
  }

  .podSendDiscordMessage textarea {
    display: block;
  }

  .podSendDiscordMessage input {
    display: none;
  }

  .podInputDiscordChat {
    align-items: flex-end;
    flex-wrap: wrap;
  }

  .podMessageDiscordChat.mine .userPhoto {
    display: none;
  }

  .podMessageInfoDiscordChat .messageInfoPhoto {
    width: 100% !important;
  }
}
