.audioPlayerContainer {
  display: flex;
  flex-direction: column;
}

.audioPlayer {
  display: flex;
  width: 250px;
  align-items: center;
}

.audioPlayer.fullWidth {
  width: 100%;
}

.audioPlayer.showTime {
  width: 100%;
  justify-content: space-between;
}

.audioPlayer > div {
  width: 100%;
}

.audioPlayer.showTime > div {
  width: calc(100% - 125px);
}

.audioPlayer.showTime > div * {
  overflow-x: hidden !important ;
}

.audioPlayer.showTime .controls svg {
  height: 40px;
  width: 40px;
  padding: 5px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
}

.audioPlayer * {
  overflow-x: hidden;
}

/*Scrollbar Handle */
.audioPlayer *::-webkit-scrollbar-thumb,
.audioPlayer *::-webkit-scrollbar-thumb:hover {
  background: transparent;
  border-radius: 10px;
}

.audioPlayerContainer .row {
  margin-top: 5px;
  display: flex;
  width: 100%;
  justify-content: space-between;
  font-size: 12px;
}

.audioPlayerContainer .duration {
  color: white;
  font-size: 22px;
  margin-left: 15px;
  width: 50px;
}

.audioPlayer .controls {
  width: auto !important;
}

.audioPlayer .controls svg {
  margin-right: 5px;
}
