.my-wallets-view {
    max-height: 460px;
    overflow-y: auto;scrollbar-width: none;
}

.wallet_info_container {
    margin-bottom: 1.5rem;
    padding: 20px;
    box-shadow: 2px 2px 12px rgb(0 0 0 / 10%);
    border-radius: 25px;
}

.info_top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
}

.wallet_code {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 1rem;
}

.wallet_code span {
    margin-left: 10px;
    font-size: 30px;
    font-weight: bold;
}

.wallet_address {
    font-size: 30px;
    font-weight: bold;
}

.wallet_type {
    font-size: 18px;
    font-weight: bold;
    color: #99A1B3;
}

.wallet_status{
    font-size: 18px;
    font-weight: bold;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.wallet_status svg {
    font-size: 26px;
}

.wallet_status span{
    margin-right: 10px;
}

.wallet_button {
    border-radius: 22px;
    padding: 11px;
    background: white;
    color: black;
    border: 1px solid #99A1B3;
}

.wallet_transaction {
    display: flex;
    justify-content: space-between;
}

.wallet_access {
    font-size: 11px;
    color: #99A1B3;
    font-weight: bold;
    display: flex;
    justify-content: space-around;
}

.wallet_access span {
    display: flex;
    align-items: center;
    margin-right: 10px;
}

.wallet_access svg {
    margin-right: 5px;
}

.wallet_balance {
    color: #99A1B3;
    font-weight: bold;
    font-size: 14px;
}

.active_border {
    border: 1px solid #27E8D9;
}

.disabled_border {
    border: 1px solid #99A1B3;
}

.info_top .active {
    border: none;
    color: #27E8D9
}

.info_top .disabled {
    border: none;
    color: #99A1B3;
}

.wallet_code .active {
    color: black;
}

.wallet_code .disabled {
    color: #99A1B3;
}


.extra_container {
    text-align: center;
}

.see_all {
    background: white;
    color: black;
    border: none;
    font-size: 22px;
    margin: 2rem auto;
}

.add_wallet {
    background: white;
    border: 1.5px dashed #99A1B3;
    box-sizing: border-box;
    border-radius: 20px;
    width: 100%;
    height: 144px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.add_wallet svg {
    color: #99A1B3;
    font-size: 25px;
}

.add_wallet span{
    font-size: 22px;
    color: #99A1B3;
}