.swap-modal .balancePaperHeaderAddLiquidityModal {
  background-color: rgb(226, 232, 238, 0.3);
  color: #081831;
  border: 1px solid rgb(128, 152, 179, 0.3);
  width: calc(100% - 40px);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
  margin-top: 0%;
  height: 50px;
  margin-left: 0px;
  margin-right: 0px;
}

.swap-modal .loaderDiv {
  width: 100%;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
}

.swap-modal .row {
  display: flex;
  flex-direction: row;
  width: 100%;
  flex-wrap: wrap;
  align-items: center;
}

.swap-modal .swap-arrow {
  margin-left: -20px;
  margin-right: -10px;
  height: 45px;
  width: 45px;
  z-index: 500;
  border-radius: 15px;
}

.swap-modal .row .squareTokenQuantitySwap {
  display: flex;
  flex-direction: column;
  width: calc(50% - 53px);
  height: auto;
  margin-right: 10px;
}

.swap-modal .row .squareTokenQuantitySwap:last-child {
  margin-right: 0px;
}

.swap-modal .row .labelTokenAddLiquidityModal {
  margin-top: 0;
}

.swap-modal .row .squareTokenQuantitySwap .tokenColAddLiquidityModal,
.swap-modal .quantityColAddLiquidityModal {
  width: 100%;
}

.swap-modal .quantityColAddLiquidityModal {
  margin-top: 10px;
}

.swap-modal .quantityColAddLiquidityModal .squareQuantityAddLiquidityModal {
  background-color: rgb(226, 232, 238, 0.3);
  border: 1px solid rgb(128, 152, 179, 0.3);
  border-bottom: 10px;
}

.swap-modal .quantityColAddLiquidityModal .squareQuantityAddLiquidityModal input {
  background-color: transparent;
  color: #081831;
}

.swap-modal .footerAddLiquidityModal button,
.swap-modal .footerAddLiquidityModal .secondColFooterAddLiquidityModal {
  margin: 0;
  font-size: 16px;
  width: 100%;
}

.swap-modal .footerAddLiquidityModal .secondColFooterAddLiquidityModal button {
  margin: 0;
  font-size: 16px;
  height: 50px;
  padding: 0;
  border-radius: 15px;
}

.swap-modal .footerAddLiquidityModal .container_price {
  margin: 0;
}

.swap-modal .footerAddLiquidityModal .container_price button {
  margin: 0;
  font-size: 16px;
  width: 100%;
  height: 50px;
  border-radius: 15px;
}

.swap-modal .bridge_button_disabled {
  cursor: default;
}

.swap-modal .recent-swaps-title {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  align-self: flex-start;
  width: 100%;
  margin-top: 10px;
}

.swap-modal .recent-swaps-title button {
  margin-left: 10px;
  margin-right: 0;
  padding: 8px 15px;
}

.swap-modal .recent-swaps-title .swap-button {
  background-color: #081831;
  margin-left: auto;
}

.swap-modal .recent-swaps-title .swap-button:hover {
  background-color: #061225;
}

.swap-modal .recent-swaps {
  display: flex;
  width: 100%;
  padding: 20px;
  flex-direction: column;
  width: calc(100% + 20px);
  background-color: #eef1f4;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  margin-bottom: -35px;
  max-height: 220px;
  overflow-y: auto;
  scrollbar-width: none;
}

.swap-modal .recent-swaps span {
  color: #656e7e;
  width: 100px;
  margin-right: 5px;
}

.swap-modal .recent-swaps .row span svg {
  vertical-align: middle;
  margin-right: 2px;
}

.swap-modal .recent-swaps .recent-swaps-header span:last-child,
.swap-modal .recent-swaps .row span:last-child {
  text-align: right;
  width: 25px;
  margin-right: 0;
}

.swap-modal .recent-swaps .row span.link a svg {
  color: #061225;
}

.swap-modal .recent-swaps .row span.link svg {
  color: #656e7e;
  vertical-align: baseline;
}

.swap-modal .recent-swaps .recent-swaps-header,
.swap-modal .recent-swaps .row {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.swap-modal .recent-swaps-header {
  margin-bottom: 10px;
}

.swap-modal .recent-swaps .recent-swaps-header span {
  color: #656e7e;
  font-size: 10px;
}

.swap-modal .recent-swaps .row span {
  color: #656e7e;
  font-size: 14px;
  max-width: 100px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.swap-modal .recent-swaps .recent-swaps-header span:first-child,
.swap-modal .recent-swaps .row span:first-child,
.swap-modal .recent-swaps .recent-swaps-header span.type,
.swap-modal .recent-swaps .row span.type {
  width: 200px;
  max-width: 200px;
}

.swap-modal .recent-swaps .row .green {
  color: green;
}

.swap-modal .recent-swaps .row .orange {
  color: orange;
  animation: blinker 1.5s linear infinite;
}

.swap-select-container {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.swap-select-title {
  margin: 21.44px 0px 10px 0px !important;
  font-size: 30px;
  font-weight: 400;
}
.swap-select-subtitle {
  margin: 0px 0px 10px 0px !important;
  color: #949bab;
  font-size: 18px;
  font-weight: 400;
}
.swap-select-logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.swap-select-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.swap-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
.modal-content {
  align-items: initial !important;
}
.description-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 5px;
  margin-bottom: 5px;
}
.label {
  font-size: 14px;
  font-weight: 400;
  color: #949bab;
}
.strong-label {
  font-size: 14px;
  font-weight: 700;
  color: #23d0c6;
}
.w30 {
  width: "30%!important";
}
@keyframes blinker {
  50% {
    opacity: 0;
  }
}

.swap-modal .recent-swaps .row .red {
  color: red;
}
