.modal .swap-modal {
  max-height: 90vh;
  max-width: 85vw;
  width: 620px;
}

.modal .modal-content.swap-modal > div {
  flex-direction: column;
  display: flex;
  height: 100%;
  overflow-y: auto;
  scrollbar-width: none;
  display: flex;
  justify-content: flex-start;
}

.modal .modal-content.swap-modal img.exit {
  width: 14px;
  height: 14px;
  padding: 0;
  margin: 0;
  align-self: flex-end;
}

.modal .modal-content.swap-modal .squareTokenAddLiquidityModal {
  display: flex;
  align-items: center;
  border: 2px solid #707582;
  box-sizing: border-box;
  border-radius: 10px;
  padding: 18px 15px;
  border-radius: 10px;
  width: 100%;
}

.modal .modal-content.swap-modal .squareTokenAddLiquidityModal .MuiInputBase-root {
  padding: 0;
}

.modal .modal-content.swap-modal .imgSelectorTokenAddLiquidityModal {
  margin-left: 0;
}

.modal .modal-content.swap-modal .squareTokenAddLiquidityModal .MuiSelect-select.MuiSelect-select {
  text-align: start;
}

.modal .modal-content.swap-modal .squareTokenQuantitySwap {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0;
  border-radius: 0;
  background-color: transparent;
  margin: 0;
  flex-grow: 1;
}

.modal .modal-content.swap-modal .swap-container-img {
  margin: 0px 14px;
  margin-top: 30px;
  cursor: pointer;
}

.modal .modal-content.swap-modal label {
  margin-top: 20px;
  font-family: Agrandir;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 104.5%;
  margin-bottom: 3px;
  width: inherit;
  align-items: flex-start;
}

.modal .modal-content.swap-modal .img {
  width: 20px;
  height: 20px;
  margin-right: 12px;
}

.modal .modal-content.swap-modal .squareTokenQuantitySwap .labelTokenAddLiquidityModal {
  border: 2px solid #707582;
  box-sizing: border-box;
  border-radius: 10px;
  padding: 0 18px;
  height: 56px;
  border-radius: 10px;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 104.5%;
  color: #181818;
  width: 100%;
  position: relative;
}

.modal .modal-content.swap-modal .swap-select-container {
  justify-content: flex-start;
}

.modal .modal-content.swap-modal .row.available {
  justify-content: space-between;
  width: 100%;
  margin-top: 10px;
}
.modal .modal-content.swap-modal .row.available span {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 120%;
  color: #707582;
}

.modal .modal-content.swap-modal .row.available span:last-child {
  cursor: pointer;
  background: linear-gradient(97.4deg, #29e8dc 14.43%, #03eaa5 79.45%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-decoration: none;
}

.modal .modal-content.swap-modal .footerAddLiquidityModal {
  margin: 0;
  margin-top: 50px;
}

.modal .modal-content.swap-modal .recent-swaps-title {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 104.5%;
  color: #181818;
  margin: 25px 0px;
  cursor: pointer;
  display: flex;
  justify-content: center;
}

.modal .modal-content.swap-modal .recent-swaps-title.view {
  background: linear-gradient(97.4deg, #29e8dc 14.43%, #03eaa5 79.45%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-decoration: none;
}

.bridge_container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.box_bridge {
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  box-shadow: 5px 5px 10px gray;
  background-color: white;
  align-items: center;
  width: 350px;
  margin: 25px;
  background-color: black;
}

.box_bridge_item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border: 1px solid grey;
  border-radius: 5px;
  padding: 15px;
  margin: 25px;
  width: 280px;
}

.container_price {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 10px 0 10px;
}

.bridge_input {
  font-size: 18px;
  font-weight: bold;
  color: white;
  background-color: black;
}

/* Remove arrows - Chrome, Safari, Edge, Opera */
.bridge_input::-webkit-outer-spin-button,
.bridge_input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Remove arrows - Firefox */
.bridge_input[type="number"] {
  -moz-appearance: textfield;
}

.bridge_button,
.bridge_button_disabled,
.approval_button_green {
  width: 90%;
  height: 50px;
  font-size: 26px;
  border-radius: 10px;
  color: white;
  background-color: royalblue;
  border: none;
}

.bridge_button_disabled {
  background-color: gray;
}

.tx_container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  height: 40px;
  font-size: 18px;
  border: 1px solid grey;
  border-radius: 5px;
  border-color: royalblue;
  margin: 10px;
}

.tx_row {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.tx_item {
  color: white;
  font-size: 20px;
  margin: 0 5px 0 5px;
}

.spinner {
  /* transform: rotate(180deg); */
  height: 26px;
  object-fit: scale-down;
}

.rotate {
  animation: rotation 5s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

.approval_button_green {
  background-color: green;
  opacity: 0.7;
}

.bridge_button:hover {
  background-color: cornflowerblue;
}

.bridge_text {
  color: white;
}

.arrow {
  height: 45px;
  width: 45px;
  /* margin: -30px; */
  margin: -30px;
  transform: rotate(180deg);
}

.arrow_button {
  border: none;
  /* margin-bottom: 0px; */
}

.arrow_button:focus {
  outline: none;
  box-shadow: none;
}

@media (max-width: 670px) {
  .box_bridge {
    width: auto;
  }
  .box_bridge_item {
    flex-direction: column;
    width: auto;
  }
  .bridge_button_disabled {
    font-size: 20px;
  }
}
.swap-modal .recent-swap {
  width: 100%;
}

.recent-swap .recent-swaps-title {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  align-self: flex-start;
  width: 100%;
}

.recent-swap .recent-swaps-title button {
  margin-left: 10px;
  margin-right: 0;
  padding: 8px 15px;
}

.recent-swap .recent-swaps-title .swap-button {
  background-color: black;
  margin-left: auto;
}

.recent-swap .recent-swaps {
  display: flex;
  width: 100%;
  padding: 20px;
  flex-direction: column;
  width: calc(100% + 20px);
  background-color: #eef1f4;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  margin-bottom: -35px;
  max-height: 220px;
  overflow-y: auto;
  scrollbar-width: none;
  margin-left: -30px;
}

.recent-swap .recent-swaps .recent-swaps-header,
.recent-swap .recent-swaps .row {
  max-width: calc(100% - 20px);
}

.recent-swap .recent-swaps span {
  color: #656e7e;
  width: 100px;
  margin-right: 5px;
}

.recent-swap .recent-swaps .row span svg {
  vertical-align: middle;
  margin-right: 2px;
}

.recent-swap .recent-swaps .recent-swaps-header span:first-child,
.recent-swap .recent-swaps .row span:first-child {
  min-width: 300px;
  max-width: 300px;
  width: 300px;
  margin-right: 0;
}

.recent-swap .recent-swaps .recent-swaps-header span:nth-child(2),
.recent-swap .recent-swaps .row span:nth-child(2) {
  min-width: 100px;
  max-width: 100px;
  width: 100px;
  margin-right: 0;
}

.recent-swap .recent-swaps .recent-swaps-header span:nth-child(3),
.recent-swap .recent-swaps .row span:nth-child(3) {
  min-width: 150px;
  max-width: 150px;
  width: 150px;
  margin-right: 0;
}

.recent-swap .recent-swaps .recent-swaps-header span:nth-child(4),
.recent-swap .recent-swaps .row span:nth-child(4) {
  min-width: 200px;
  max-width: 200px;
  width: 200px;
  margin-right: 0;
}

.recent-swap .recent-swaps .recent-swaps-header span:nth-last-child(-n + 2),
.recent-swap .recent-swaps .row span:nth-last-child(-n + 2) {
  text-align: right;
  min-width: 25px;
  max-width: 25px;
  width: 25px;
  margin-right: 0;
}

.recent-swap .recent-swaps .row span.link a svg {
  color: #061225;
}

.recent-swap .recent-swaps .row span.link svg {
  color: #656e7e;
  vertical-align: baseline;
}

.recent-swap .recent-swaps .recent-swaps-header,
.recent-swap .recent-swaps .row {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.recent-swap .recent-swaps-header {
  margin-bottom: 10px;
}

.recent-swap .recent-swaps .recent-swaps-header span {
  color: #656e7e;
  font-size: 10px;
}

.recent-swap .recent-swaps .row span {
  color: #656e7e;
  font-size: 14px;
  max-width: 100px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.recent-swap .recent-swaps .recent-swaps-header span:first-child,
.recent-swap .recent-swaps .row span:first-child,
.recent-swap .recent-swaps .recent-swaps-header span.type,
.recent-swap .recent-swaps .row span.type {
  width: 200px;
  max-width: 200px;
}

.recent-swap .recent-swaps .row .green {
  color: green;
}

.recent-swap .recent-swaps .row .orange {
  color: orange;
  animation: blinker 1.5s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

.recent-swap .recent-swaps .row .red {
  color: red;
}

.bridge-page .title label input:focus,
.bridge-page .all .swapLiquidityModal select:focus,
.bridge-page .filters select:focus {
  outline: none;
}

.bridge-page .title .labels {
  border-radius: 20px;
  background-color: #fff;
  padding: 10px;
  flex-grow: 0.25;
  min-width: 150px;
  width: 250px;
  border: 1px solid #656e7e !important;
}

.bridge-page .filters .dropdown {
  margin-top: 5px;
  display: flex;
  align-items: center;
  width: 100%;
}

.bridge-page .filters .dropdown p {
  white-space: nowrap;
  margin-right: 5px;
  color: #656e7e;
  font-weight: 600;
  margin-bottom: 2px;
  width: 100%;
}
