.community-card {
  display: flex;
  background-color: white;
  box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  /* padding: 0px 5px 5px 5px; */
  min-width: 180px;
  flex-direction: column;
  height: -moz-fit-content;
  height: fit-content;
  cursor: pointer;
}

img {
  text-indent: -9999px;
}

.community-name {
  font-weight: 800;
  font-size: 18px;
  line-height: 104.5%;
  color: black;
  margin-top: 16px;
  margin-bottom: 0px;
  padding-bottom: 10px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  font-family: "Agrandir";
}

.community-card-cover {
  background: linear-gradient(180deg, rgb(64, 75, 88) 0%, rgba(8, 24, 49) 100%);
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  position: relative;
  min-height: 80px;
}

.community-card-cover .aspect-ratio-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
}

.community-card-cover img {
  width: 100%;
  height: 100%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  margin-bottom: -4px;
  object-fit: cover;
}

.community-card-investing-button {
  position: absolute;
  right: 16px;
  top: 16px;
  background: linear-gradient(97.4deg, #ff79d1 14.43%, #db00ff 79.45%);
  border-radius: 24px;
  padding: 4px 8px 4px 8px;
  color: white;
  font-weight: 800;
  font-size: 11px;
  line-height: 104.5%;
}

.community-card-content {
  flex: 1;
  /* border: 2px solid #ff79d1; */
  border-top: none;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  padding: 16px;
  position: relative;
  display: flex;
  flex-direction: column;
}

.community-card-content .community-card-main-content {
  display: flex;
  flex-direction: column;
}

.cards-grid .community-card-content {
  border: none;
}

.community-card-user-box {
  display: flex;
  justify-content: space-between;
  position: absolute;
  width: 100%;
  top: -16px;
  left: 10px;
}

.community-card-user-box .community-card-user-avatar:first-child {
  margin-left: 0;
}

.community-card-user-box .community-card-members {
  display: flex;
  align-items: center;
}

.community-card-user-box .community-card-user-avatar {
  width: 32px;
  height: 32px;
  border: 2px solid white;
  background-color: white;
  border-radius: 50%;
  margin-left: -10px;
}

.community-card-user-box .community-card-member-numbers {
  font-size: 11px;
  font-weight: 400;
  color: #6b6b6b;
  text-shadow: none;
  padding: 2px 6px;
  box-shadow: 0px 2px 4px rgb(0 0 0 / 25%);
  border-radius: 8px;
  background-color: #fff;
  margin-left: -10px;
}

.community-favourite-buttons {
  background-color: black;
  border: 2px solid white;
  border-radius: 20px;
  padding: 4px 6px 4px 7px;
  margin-right: 20px;
}

.community-favourite-buttons img {
  width: 18px;
  height: 18px;
  margin-left: 4px;
  margin-right: 4px;
}

.community-card-info {
  display: flex;
  justify-content: space-between;
  width: 100%;
  flex-wrap: wrap;
  margin-top: 6px;
}

.community-card-info-item {
  margin-top: 8px;
  margin-bottom: 8px;
  margin-right: 10px;
}

.community-card-info-item:last-child {
  margin-right: 0;
}

.community-card-info-item-title {
  font-size: 14px;
  line-height: 120%;
  font-family: "Agrandir";
  color: #707582;
}

.community-card-info-item-value {
  font-size: 18px;
  line-height: 104.5%;
  font-family: "Agrandir";
  color: #181818;
  margin-top: 4px;
}

.community-card-buttons {
  padding-top: 5px;
  margin-top: 0;
  border-top: none;
  display: flex;
  align-items: center;
}

.community-card-buttons .btn {
  height: 30px;
  padding: 0 15px !important;
  background: #181818;
}

.community-card.regular-community-card:nth-child(4n) {
  margin-right: 0;
}

.community-card .opacity-color {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 20px;
  background-color: transparent;
}

.community-card h1 {
  margin: 0px;
  font-size: 34px;
}
.community-card h1 span {
  margin-bottom: 5px;
  color: #ffffff;
  font-size: 14px;
  font-weight: 500;
  position: relative;
  top: 5px;
  left: 4px;
}

.community-card h3 {
  color: white;
  text-shadow: 2px 2px 2px rgb(8 24 49 / 35%);
  white-space: nowrap;
  font-size: 18px;
  letter-spacing: 0;
  font-weight: 500;
  margin-bottom: -10px;
  padding-left: 20px;
  position: absolute;
  top: 1px;
}

.community-card h3 span {
  margin-left: 10px;
  font-size: inherit;
  color: #656e7e;
}

.community-card p {
  margin: 0;
  font-size: 16px;
  max-width: 100px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.community-card span {
  margin-bottom: 5px;
  color: #656e7e;
  font-size: 12px;
}

.community-card .token-image {
  width: 40px;
  height: 40px;
  min-width: 40px;
  border-radius: 20px;
  margin-right: 10px;
  align-self: flex-start;
  background-color: white;
}

.community-card .row {
  padding: 10px 0px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  width: 100%;
  align-items: flex-start;
}

.community-card .row .column,
.community-card .user .right .column {
  margin-right: 40px;
}

.community-card .row .columnNotTrending {
  margin-right: 20px;
}

.community-card .row .columnNotTrending:first-child {
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.community-card .user {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 20px;
  z-index: 100;
  margin-bottom: 10px;
  width: calc(100% - 20px);
  font-weight: 500;
  margin-top: 10px;
}

.community-card .cards-buttons {
  display: flex;
  justify-content: center;
}

.community-card .right,
.community-card .left {
  display: flex;
  align-items: center;
}

.community-card .row .right {
  align-items: flex-start;
}

.community-card .user p,
.community-card .user .left {
  max-width: 100%;
}

.community-card .user .user-image {
  min-width: 24px;
  width: 24px;
  height: 24px;
  border-radius: 12px;
  margin-right: 10px;
  background-color: #656e7e;
}

.community-card .secondRow {
  margin-left: 70px;
}

.community-card .user-image {
  height: 32px;
  width: 32px;
  position: absolute;
  top: 10px;
  right: 10px;
  border-radius: 20px;
}

.community-card.trending-community-card {
  width: 298px;
  height: 433px;
  margin-right: 20px;
  background: #ffffff;
  box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.1);
  border: 4px solid transparent;
  border-radius: 24px;
  position: relative;
  background-clip: padding-box;
  display: flex;
  flex-direction: column;
}

.community-card.trending-community-card::after {
  position: absolute;
  content: "";
  top: -4px;
  bottom: -4px;
  left: -4px;
  right: -4px;
  background: linear-gradient(97.4deg, #ff79d1, #db00ff);
  z-index: -1;
  border-radius: 24px;
}

.community-card.trending-community-card .community-card-cover {
  height: 198px !important;
  margin-top: -4px;
  margin-left: -4px;
  margin-right: -4px;
}

.community-card.trending-community-card .opacity-color {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 20px;
  background: rgb(0, 0, 0);
  background: linear-gradient(180deg, rgb(0 0 0 / 32%) 0%, rgba(255, 255, 255, 0) 25%) !important;
}
.community-card.regular-community-card .opacity-color {
  background: rgb(0, 0, 0);
  background: linear-gradient(180deg, rgb(0 0 0 / 32%) 0%, rgba(255, 255, 255, 0) 25%) !important;
}

.community-card h3,
.community-card h1,
.community-card p,
.community-card span {
  color: white;
  text-shadow: 2px 2px 2px rgba(8, 24, 49, 0.35);
  white-space: nowrap;
}

.community-card h3 span {
  color: white;
  word-wrap: normal;
}

.community-card.trending-community-card .row {
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
}

.community-card.trending-community-card .token-image {
  align-self: auto;
}

.community-card .row .column:first-child {
  margin-left: 20px;
}

.community-card .volume-graph {
  width: 100%;
  height: 100px;
  margin-bottom: -40px;
}

.communities-page .community-cards .cards-grid .column .community-card {
  width: 298px;
}

.cards-grid .community-card .community-photo {
  width: 100%;
  border-radius: 20px;
  min-height: 425px;
  z-index: -1;
}
.cards-grid .community-card .opacity-color {
  z-index: 2;
}
.cards-grid .community-card .content {
  height: 100%;
}

.communities-page .trending .community-cards {
  height: 450px;
}

.community-card .btn {
  letter-spacing: 0px;
  font-weight: 300;
  padding: 8px 15px;
}

.community-card .row.bottom-row {
  position: absolute;
  bottom: 5px;
  margin: 0;
  padding-left: 0;
  justify-content: center;
}

.community-card .column.token-col {
  width: 50% !important;
}

.community-card .members-row {
  position: absolute;
  top: 29px;
}

.community-card-buttons-mobile {
  display: none;
}

@media screen and (max-width: 375px) {
  .community-card-info {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }

  .community-card .btn {
    font-size: 14px;
    font-weight: 800;
    line-height: 104.5%;
    padding: 8px 15px;
    width: 81px;
    height: 31px;
  }

  .community-card-buttons {
    display: none;
  }

  .community-card-buttons-mobile {
    padding-left: 16px;
    padding-bottom: 16px;
    margin-top: 0;
    border-top: none;
    display: flex;
    align-items: center;
  }
}
