.modalCampaign.coming-soon-modal {
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  justify-items: center;
  backdrop-filter: opacity(0.4);
}

.coming-soon-modal .smokescreen-content {
  outline: none;
  display: flex;
  align-items: center;
  justify-content: center;
  background: hsla(159, 31%, 65%, 0.7);
}

.coming-soon-modal .smokescreen-content p {
  font-weight: 700;
  text-transform: lowercase;
  font-size: 40px;
  display: inline-block;
  text-align: center;
  padding-right: 40px;
  color: black;
}

.coming-soon-modal .smokescreen-content img {
  width: 120px;
  height: 120px;
}
