button.iconButton {
  height: 40px;
  width: 40px;
  padding: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
}

button.iconButton > * {
  width: 16px;
  height: 16px;
}

.buttonContainer {
  cursor: pointer;
  display: flex;
  min-width: auto;
  line-height: auto;
  padding: 1.5px;
  border-radius: 6px;
  height: auto;
  border: none;
  width: fit-content;
  background: linear-gradient(94.24deg, #00bfff 1.46%, #8d2eff 57.51%, #ff00c1 105.94%);
}

.buttonContainer:hover {
  opacity: 1;
}

.buttonContainer:last-child:not(:first-child),
.buttonFilled:last-child:not(:first-child),
.buttonDark:last-child:not(:first-child),
.buttonPlain:last-child:not(:first-child) {
  margin-left: 24px;
}

.buttonFilled,
.buttonDark,
.buttonContent,
.buttonPlain {
  border-radius: 4px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  text-align: center;
  margin: 0px;
  height: auto;
  backdrop-filter: blur(10px);
  letter-spacing: 0.04em;
  transition: opacity 0.1s ease;
  padding: 16px 32px;
  min-width: auto;
  width: fit-content;
}

.buttonContainer.iconButton:last-child:not(:first-child),
.buttonFilled.iconButton:last-child:not(:first-child),
.buttonDark.iconButton:last-child:not(:first-child),
.buttonPlain.iconButton:last-child:not(:first-child) {
  margin-left: 6px;
}

.buttonContent {
  background-color: black;
  color: #ffffff;
  border: none;
}

.buttonDark {
  background-color: transparent;
  color: #ffffff;
  border: 1.5px solid #ffffff;
}

.buttonFilled {
  background: linear-gradient(94.24deg, #00bfff 1.46%, #8d2eff 57.51%, #ff00c1 105.94%);
  color: #ffffff;
  border: none;
}

.buttonPlain {
  color: #ffffff;
  background: rgba(255, 255, 255, 0.16);
  border: none;
}

.buttonContent:hover {
  opacity: 0.8;
}

.uppercase {
  text-transform: uppercase;
}
