.community-page .sidebar {
  width: 300px;
  min-width: 300px;
  background-color: white;
  overflow-y: auto;
  scrollbar-width: none;
}

.community-page .sidebar .sidebar-content {
  width: 100%;
}

.community-page .sidebar .header {
  align-items: center;
  width: calc(100% - 40px);
  padding: 20px 20px 0px 20px;
  height: auto;
}

.community-page .sidebar .header .badge {
  background-color: #656e7e;
  padding: 10px;
  margin-right: 10px;
}

.community-page .sidebar .header .badge svg {
  color: white;
  width: 20px;
  height: 20px;
}

.community-page .sidebar .box {
  background-color: transparent;
  border: 1px solid rgba(128, 128, 128, 0.2);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  padding: 15px;
  margin: 10px;
}

.community-page .sidebar .box .title {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 15px;
}

.community-page .sidebar .box .title p {
  font-weight: bold;
  margin: 0px;
}
.community-page .sidebar .box .title span {
  font-size: 14px;
  margin: 0;
}

.community-page .sidebar .box .joining-rules {
  width: 100%;
}

.community-page .sidebar .box .rule-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px 0px;
}

.community-page .sidebar .box .rule-row .row-image {
  width: 20px;
  min-width: 20px;
  height: 20px;
  border-radius: 15px;
  margin-right: 10px;
  display: flex;
  align-content: center;
  background-color: #656e7e;
  color: white;
  justify-content: center;
}

.community-page .sidebar .box p {
  margin: 0;
}

.community-page .sidebar .box .rules {
  max-height: 150px;
  height: 150px;
  overflow-y: hidden;
  width: 100%;
}

.community-page .sidebar .box .scrollable {
  overflow-y: auto;
  scrollbar-width: none;
}

.community-page .sidebar .box .rules .community-rule {
  border-bottom: 1px solid rgba(128, 128, 128, 0.2);
  padding: 10px 0;
  margin: 0;
}

.community-page .sidebar .box input {
  width: calc(100% - 20px);
  background-color: white;
  border-radius: 10px;
  padding: 10px;
  border: none;
  -webkit-box-shadow: -2px 7px 75px -9px rgba(148, 148, 148, 0.66);
  -moz-box-shadow: -2px 7px 75px -9px rgba(148, 148, 148, 0.66);
  box-shadow: -2px 7px 75px -9px rgba(148, 148, 148, 0.66);
  margin-bottom: 20px;
}

.community-page .sidebar .box button {
  align-self: flex-start;
  padding: 10px 25px;
  margin: 0;
}

.community-page .sidebar .horizontal {
  flex-direction: row;
  justify-content: flex-start;
}

.community-page .sidebar .horizontal img {
  margin-right: 10px;
}

.community-page .sidebar .box .position {
  background-color: #656e7e;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 210px;
  border-radius: 20px;
  padding: 10px;
  -webkit-box-shadow: -2px 7px 75px -9px rgba(148, 148, 148, 0.66);
  -moz-box-shadow: -2px 7px 75px -9px rgba(148, 148, 148, 0.66);
  box-shadow: -2px 7px 75px -9px rgba(148, 148, 148, 0.66);
  color: white;
  margin-bottom: 10px;
  margin-top: 10px;
}

.community-page .sidebar .box .position p {
  margin: 0;
  color: white;
}

.community-page .sidebar .box .position b {
  font-size: 14px;
}

/* treasury sidebar */
.community-page .treasury-sidebar {
  width: calc(100% - 40px);
  padding: 0px 20px;
}

.community-page .treasury-sidebar .row {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 10px;
  width: 100%;
}

.community-page .treasury-sidebar .image {
  width: 30px;
  height: 30px;
  border-radius: 15px;
  margin-right: 10px;
  background-color: #656e7e;
}

.community-page .treasury-sidebar p {
  font-size: 14px;
  color: #656e7e;
  margin: 0;
}

.community-page .treasury-sidebar .history {
  width: 100%;
  display: flex;
  flex-direction: row;
  padding: 10px 0px;
  border-bottom: hsla(218, 11%, 45%, 0.2) 1px solid;
  align-items: center;
}

.community-page .treasury-sidebar .history:last-child {
  border: none;
}

.community-page .discussion-sidebar {
  width: 100%;
  max-width: 300px;
  height: 100%;
}

.community-page .discordSideBar .row {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 25px;
}
.community-page .discordSideBar .info-block {
  font-family: Agrandir;
}
.community-page .discordSideBar .info-block h4 {
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 23px;
  text-align: left;
  margin: 0;
}
.community-page .discordSideBar .info-block .info-wrapper {
  display: flex;
  align-items: center;
  flex-direction: row;
  font-size: 14px;
  margin: 4.25px 0 0;
}
.community-page .discordSideBar .info-block p {
  margin: 0;
  font-weight: 700;
  line-height: 15px;
  background: linear-gradient(97.4deg, #ff79d1 14.43%, #db00ff 79.45%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.community-page .discordSideBar .info-block svg {
  margin-left: 2.5px;
  font-weight: 200;
}
.community-page .discordSideBar .info-block .level-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 2.5px;
  color: #99a1b3;
  font-size: 11px;
  text-align: center;
  width: 52px;
  height: 16px;
  border: 1px solid #99a1b3;
  box-sizing: border-box;
  border-radius: 38.6667px;
}

.community-page .discordSideBar .info-block .image-wrapper {
  position: relative;
  margin: 10px;
}

.community-page .discordSideBar .info-block .online-indicator {
  position: absolute;
  background: linear-gradient(97.4deg, #23d0c6 14.43%, #00cc8f 85.96%);
  border: 2px solid #ffffff;
  border-radius: 50%;
  z-index: 10;
  bottom: 0;
  right: 0px;
  width: 14.5px;
  height: 14.5px;
}

.community-page .discordSideBar .info-block .user-image {
  width: 48px;
  height: 48px;
  border-radius: 50%;
}
