/*Buttons*/
button {
  color: white;
  background-color: black;
  padding: 9.5px 28px;
  height: 40px;
  font-size: 14px;
  border: none;
  font-weight: bold;
  border-radius: 10px;
  font-family: 'Agrandir';
  cursor: pointer;
}

input,
select,
textarea {
  font-family: 'Agrandir';
}

/* Scroll bar */
/* width */
::-webkit-scrollbar {
  width: 0px;
  height: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.5);
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 0.5);
}
