.svg-icon {
  display: block;
  vertical-align: middle;
}

.bg-white {
  --tw-bg-opacity: 1;
  background-color: rgba(255, 255, 255, var(--tw-bg-opacity));
}

.bg-gray-100 {
  --tw-bg-opacity: 1;
  background-color: rgba(243, 244, 246, var(--tw-bg-opacity));
}

.bg-yellow-100 {
  --tw-bg-opacity: 1;
  background-color: rgba(254, 243, 199, var(--tw-bg-opacity));
}

.bg-green-100 {
  --tw-bg-opacity: 1;
  background-color: rgba(209, 250, 229, var(--tw-bg-opacity));
}

.rounded-xl {
  border-radius: 0.75rem;
}

.block {
  display: block;
}

.flex {
  display: flex;
}

.table {
  display: table;
}

.grid {
  display: grid;
}

.flex-col {
  flex-direction: column;
}

.items-end {
  align-items: flex-end;
}

.items-start {
  align-items: flex-start;
}

.items-center {
  align-items: center;
}

.ml20px {
  margin-left: 20px;
}

.justify-between {
  justify-content: space-between;
}

.justify-around {
  justify-content: space-around;
}

.font-bold {
  font-weight: 700;
}

.h-6 {
  height: 1.5rem;
}

.h-screen {
  height: 100vh;
}

.text-xs {
  font-size: 0.75rem;
  line-height: 1rem;
}

.text-lg {
  font-size: 1.125rem;
  line-height: 1.75rem;
}

.ml-2 {
  margin-left: 0.5rem;
}

.mr-5 {
  margin-right: 1.25rem;
}

.mr-12 {
  margin-right: 3rem;
}

.mr-24 {
  margin-right: 6rem;
}

.mb-5 {
  margin-bottom: 1.25rem;
}

.mt-5 {
  margin-top: 1.25rem;
}

.mt-12 {
  margin-top: 3rem;
}

.ml-12 {
  margin-left: 3rem;
}

.p-2 {
  padding: 0.5rem;
}

.p-5 {
  padding: 1.25rem;
}

* {
  --tw-shadow: 0 0 #0000;
}

* {
  --tw-ring-inset: var(--tw-empty, /*!*/ /*!*/);
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgba(59, 130, 246, 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
}

.text-gray-400 {
  --tw-text-opacity: 1;
  color: rgba(156, 163, 175, var(--tw-text-opacity));
}

.text-gray-700 {
  --tw-text-opacity: 1;
  color: rgba(55, 65, 81, var(--tw-text-opacity));
}

.text-green-400 {
  --tw-text-opacity: 1;
  color: rgba(52, 211, 153, var(--tw-text-opacity));
}

.w-6 {
  width: 1.5rem;
}

.token-image {
  width: 30px;
  min-width: 30px;
  height: 30px;
  min-height: 30px;
  border-radius: 15px;
  margin-right: 8px;
  background-color: white;
}

.token-card {
  align-items: center;
  display: flex;
  /* flex-direction: row; */
  justify-content: stretch;
}

.social-chart-container {
  position: relative;
  background: #f7f9fecc;
  border-radius: 10px;
}

.social-chart-container .chart-banner {
  position: absolute;
  color: #181818;
  top: 20px;
  left: 20px;
}

.social-chart-container .chart-banner .caption {
  color: #727f9a;
  font-size: 16px;
  line-height: 1;
  font-weight: 700;
  margin-bottom: 8px;
}

.social-chart-container .chart-banner .title {
  font-size: 14px;
  margin-bottom: 10px;
  padding: 0;
}

@media only screen and (max-width: 1200px) {
  .social-chart-container .chart-banner .title {
    font-size: 11px;
    margin-bottom: 4px;
  }
}

.social-chart-container .chart-banner .content {
  background: conic-gradient(
    from 111.31deg at 50% 51.67%,
    #b1ff00 -118.12deg,
    #00ff15 110.62deg,
    #b1ff00 241.88deg,
    #00ff15 470.63deg
  );
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.2);
  border-radius: 16px;
  padding: 11px 12px;
}

.social-chart-container .chart-banner .content .current {
  font-size: 24px;
  font-weight: 700;
  color: #727f9a;
  line-height: 1;
}

.social-chart-container .chart-banner .content .different {
  font-size: 14px;
  color: #727f9a;
  margin-top: 4px;
  line-height: 1;
}

@media only screen and (max-width: 1200px) {
  .social-chart-container .chart-banner .content {
    padding: 8px;
    border-radius: 8px;
  }
  .social-chart-container .chart-banner .content .current {
    font-size: 16px;
  }
  .social-chart-container .chart-banner .content .different {
    font-size: 11px;
  }
}

/*@keyframes spin {*/
/*    to {*/
/*        transform: rotate(360deg);*/
/*    }*/
/*}*/

/*@keyframes ping {*/
/*    75%, 100% {*/
/*        transform: scale(2);*/
/*        opacity: 0;*/
/*    }*/
/*}*/

/*@keyframes pulse {*/
/*    50% {*/
/*        opacity: .5;*/
/*    }*/
/*}*/

/*@keyframes bounce {*/
/*    0%, 100% {*/
/*        transform: translateY(-25%);*/
/*        animation-timing-function: cubic-bezier(0.8,0,1,1);*/
/*    }*/

/*    50% {*/
/*        transform: none;*/
/*        animation-timing-function: cubic-bezier(0,0,0.2,1);*/
/*    }*/
/*}*/

/*@media (min-width: 640px) {*/
/*    .sm\:text-2xl {*/
/*        font-size: 1.5rem;*/
/*        line-height: 2rem;*/
/*    }*/
/*}*/

/*@media (min-width: 768px) {*/
/*}*/

/*@media (min-width: 1024px) {*/
/*}*/

/*@media (min-width: 1280px) {*/
/*}*/

/*@media (min-width: 1536px) {*/
/*}*/
