.register-form {
  flex: 4;
  display: flex;
  flex-direction: column;
}

.register-form form {
  width: 100%;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.box {
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: center;
  border: rgb(235, 235, 235) 2px;
  background-color: rgb(235, 235, 235);
  border-radius: 10px;
}

.p90 {
  width: 90%;
  height: 90%;
  margin: 5% 0;
}

.h {
  flex-direction: row;
}

.v {
  flex-direction: column;
  flex: 1;
}

.eye {
  align-self: flex-end;
}

.clickable:hover {
  cursor: pointer;
}

/*.title {
  align-self: center;
  padding: 25px;
}*/

.desktopSignUpBox {
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  border: rgb(235, 235, 235) 2px;
  background-color: rgb(235, 235, 235);
  border-radius: 75px;
  width: 75%;
  max-width: 800px;
  padding-top: 20px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.25);
}

.mobileSignUpBox {
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: 30px;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  border: rgb(235, 235, 235) 2px;
  background-color: rgb(235, 235, 235);
  border-radius: 75px;
  width: 90%;
  padding-bottom: 20px;
  padding-top: 20px;
}

.f2 {
  flex: 2;
}

.RegisterButton {
  margin-top: 10px;
  margin-bottom: 10px;
  width: 100%;
}

.error {
  margin-left: 10px;
  color: red;
  font-size: 14px;
}

.register-form .success {
  color: green;
  font-size: 14px;
  display: flex;
  justify-content: center;
  width: 100%;
}

.title-desktop-register {
  align-self: center;
  padding: 0;
  margin-top: 0 !important;
  margin-bottom: 10px !important;
}

.label-password {
  display: flex;
  flex-direction: row;
}

.desktopSignUpBox img {
  width: 165px;
  height: 150px;
  margin-bottom: 20px;
}

.desktopSignUpBox .p75 {
  margin-bottom: 10px;
}
.register-form div {
  display: flex;
}

.register-form label {
  border-bottom: grey solid 1px;
  padding: 5px;
  margin: 10px;
  align-items: center;
  flex-grow: 1;
  display: flex;
}

.register-form input {
  width: 100%;
  border: none;
  font-size: 12pt;
  outline: none;
  background-color: rgb(235, 235, 235);
}

.register-form select {
  color: gray;
  width: 100%;
  border: none;
  font-size: 12pt;
  outline: none;
  background-color: rgb(235, 235, 235);
}

.link {
  text-decoration: none;
  color: #303030;
}
