/*Containers*/
.desktopLoginBox form {
  width: 70%;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.box {
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: center;
  border: rgb(235, 235, 235) 2px;
  background-color: rgb(235, 235, 235);
  margin: 0px;
}

.p50 {
  width: 50%;
  height: 50%;
  margin: 5% 0;
}

.p75 {
  width: 75%;
  height: 75%;
  margin: 0px;
}

.p90 {
  width: 90%;
  height: 90%;
  margin: 5% 0;
}

.h {
  flex-direction: row;
}

.v {
  flex-direction: column;
}

.label-password .eye {
  position: absolute;
  top: 50%;
  right: 15px;
  transform: translate(0, -50%);
  display: flex;
}

.clickable:hover {
  cursor: pointer;
}

.title-desktop {
  align-self: center;
  padding: 0;
  margin-top: 0 !important;
}

.title-mobile {
  align-self: center;
  padding: 10px;
}

.desktopLoginBox {
  padding-top: 20px;
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  border: rgb(235, 235, 235) 2px;
  background-color: rgb(235, 235, 235);
  border-radius: 75px;
  width: 75%;
  max-width: 800px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.25);
}

.imageBox {
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.SignInButton {
  margin-top: 20px;
  margin-bottom: 20px;
}

form .label-grey {
  margin-bottom: 0 !important;
}

.error {
  text-align: left;
  color: red;
  font-size: 14px;
}

.spacerV50 {
  height: 50px;
}

.label-password {
  display: flex;
  flex-direction: row;
  position: relative;
}

.desktopLoginBox img {
  width: 165px;
  height: 150px;
  margin-bottom: 20px;
}

.desktopLoginBox .p75 {
  margin-bottom: 10px;
}

.desktopLoginBox form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.desktopLoginBox form div {
  display: flex;
}

.desktopLoginBox label {
  border-bottom: grey solid 1px;
  padding: 5px;
  margin: 10px;
  align-items: center;
  flex-grow: 1;
  display: flex;
}

.desktopLoginBox .inputBox {
  width: 100%;
  border: none;
  font-size: 12pt;
  outline: none;
  background-color: rgb(235, 235, 235);
}

.link {
  text-decoration: none;
  color: #303030;
}
