.claims-history-content {
  background-color: #f1f4f7;
  border-radius: 15px;
  margin-bottom: 15px;
  padding: 15px;
}

.claims-history-content h3 {
  font-size: 16px;
  margin: 0px 0px 25px 0px;
}

.claims-history-content p {
  font-size: 14px;
  font-weight: bold;
  margin: 0px 0px 15px 0px;
}

.claims-history-content p span {
  margin-left: 10px;
}

.claims-history-content .answers p {
  color: #656e7e;
}

.claims-history-content .claims-history-results .results {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.claims-history-content .claims-history-results,
.claims-history-content .claims-history-results .answers,
.claims-history-content .claims-history-results .results .claims-history-area {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.claims-history-content .claims-history-results .answers {
  justify-content: space-between;
}

.claims-history-content .claims-history-results .results .claims-history-area {
  margin-bottom: 18px;
}

.claims-history-content
  .claims-history-results
  .results
  .claims-history-area
  .green-area,
.claims-history-content
  .claims-history-results
  .results
  .claims-history-area
  .red-area {
  height: 18px;
  min-height: 18px;
  max-height: 18px;
  border-radius: 9.5px;
}

.claims-history-content
  .claims-history-results
  .results
  .claims-history-area
  .green-area {
  background-color: #64c89e;
  background-image: linear-gradient(
    135deg,
    #64c89e 25%,
    #83d3b1 25%,
    #83d3b1 50%,
    #64c89e 50%,
    #64c89e 75%,
    #83d3b1 75%,
    #83d3b1 100%
  );
  background-size: 20px 20px;
}

.claims-history-content
  .claims-history-results
  .results
  .claims-history-area
  .red-area {
  background-color: #c76b64;
  background-image: linear-gradient(
    135deg,
    #c76b64 25%,
    #d38983 25%,
    #d38983 50%,
    #c76b64 50%,
    #c76b64 75%,
    #d38983 75%,
    #d38983 100%
  );
  background-size: 20px 20px;
  margin-left: 2px;
}

@keyframes barberpole {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 60px 30px;
  }
}

.claims-history-content
  .claims-history-results
  .results
  .claims-history-area
  .green-area:hover,
.claims-history-content
  .claims-history-results
  .results
  .claims-history-area
  .red-area:hover {
  animation: barberpole 1.5s linear infinite;
}
