.claims-content {
  background-color: #f1f4f7;
  border-radius: 15px;
  margin-bottom: 15px;
  padding: 15px;
}

.claims-content h3 {
  font-size: 16px;
  margin: 0px 0px 25px 0px;
}

.claims-content p {
  font-size: 14px;
  font-weight: bold;
  margin: 0px 0px 32px 0px;
}

.claims-content p span {
  margin-left: 10px;
}

.claims-content .claims-options {
  margin-bottom: 15px;
}

.claims-content .claims-options,
.claims-content .answers {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.claims-content .answers button {
  min-width: calc(50% - 5px);
  margin: 0;
  padding: 12px 0px;
}

.claims-content .answers .red-button {
  background-color: #c76b64;
  margin-left: 10px;
}

.claims-content .answers .red-button:hover {
  background-image: linear-gradient(
    135deg,
    #c76b64 25%,
    #d38983 25%,
    #d38983 50%,
    #c76b64 50%,
    #c76b64 75%,
    #d38983 75%,
    #d38983 100%
  );
  background-size: 20px 20px;
}

.claims-content .answers .green-button:hover {
  background-image: linear-gradient(
    135deg,
    #64c89e 25%,
    #83d3b1 25%,
    #83d3b1 50%,
    #64c89e 50%,
    #64c89e 75%,
    #83d3b1 75%,
    #83d3b1 100%
  );
  background-size: 20px 20px;
}

.claims-content .answers .selected-red-button {
  background-color: #b3605a;
  margin-left: 10px;
}

.claims-content .answers .selected-green-button {
  background-color: #58b18c;
}

@keyframes barberpole {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 60px 30px;
  }
}

.claims-content .answers .red-button:hover,
.claims-content .answers .green-button:hover {
  animation: barberpole 1.5s linear infinite;
}
