.createHashtagButtonInput {
  border-radius: 17px;
  background-color: #f6f6f6;
  height: 40px;
  width: 100%;
  display: flex;
  color: black;
  justify-content: center;
  align-items: center;
  padding: 0px 20px;
  border: 1px #b6b6b6;
  box-sizing: border-box;
}
.createHashtagInput:focus {
  outline: none;
}
.createHashtagInput::placeholder {
  outline: none;
  color: rgba(101, 110, 126, 0.5);
  font-size: 14px;
  font-weight: 400;
}
.createHashtagInput {
  background-color: transparent;
  border: 0;
  color: black;
  width: 100px;
  padding-left: 5px;
}

.hashtagsRowCreatePod {
  display: flex;
  align-items: center;
  flex-wrap: wrap-reverse;
  /* height: 40px;
  min-height: 40px; */
  /* margin-top: 15px; */
}
.mainHashtagLabel {
  display: none;
  background-color: white;
  border-radius: 9px;
  width: 42px;
  height: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(101, 110, 126);
  font-size: 10px;
  font-weight: bold;
  letter-spacing: 0.83px;
  margin-right: 10px;
}
.createHashtagButtonIcon {
  width: 14px;
  height: 14px;
}
.addHashtagButton {
  padding: 0 !important;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 !important;
  color: white !important;
  background-color: transparent !important;
  margin-left: 16px !important;
}
.addHashtagButton:focus {
  background-color: transparent !important;
  color: white !important;
}
.hashtagLabel {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: auto;
  background: #ffffff;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 51.4576px;
  color: #4f4f4f;
  font-size: 14px;
  font-weight: 600;
  padding: 10.0056px 20.0113px 8.57627px;
  margin-right: 10px;
}
.hashtagLabelMain {
  height: auto;
  background: #ffffff;
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.1);
  border-radius: 51.4576px;
  color: #4f4f4f;
  padding: 10.0056px 20.0113px 8.57627px;
}
