.newPostsPartSeeAll{
    background-color: rgba(238, 241, 244, 0.5);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding-top: 30px;
    padding-bottom: 30px;
}
.seeAllPosts{
    width: 900px;
    background-color: white !important;
    border-radius: 20px !important;
    margin-top: 40px;
}
.headerSeeAllPosts{
    font-size: 24px;
    font-weight: 700;
    color: rgb(8, 24, 49);
    margin-bottom: 50px;
    padding-left: 30px;
}
.subheaderSeeAllPosts{
    font-size: 18px;
    font-weight: 700;
    color: rgb(8, 24, 49);
    padding-bottom: 30px;
    padding-left: 30px;
}
.arrowPostsSeeAllPosts{
    padding-left: 30px;
    padding-right: 30px;
}