.squareOptionsIconLabel{
    border-radius: 16px;
    border: 1px solid rgb(128, 152, 179);
    background-color: rgba(227, 233, 239, 0.3);
    width: 200px;
    height: 140px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-right: 10px;
    cursor: pointer;
}
.selectedOptionsIconLabel{
    border: 2px solid rgb(60, 175, 212) !important;
    background-color: rgb(247, 249, 251) !important;
    cursor: auto;
}
.imageIconOptionsIconLabel{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 86px;
    margin-bottom: 7px;
}
.labelOptionsIconLabel{
    font-size: 14px;
    font-weight: 400;
    color: rgb(66, 73, 85);
}

.greenOption {
  flex-direction: row-reverse;
  height: fit-content;
  border: none !important;
  background-color: transparent !important;
  justify-content: flex-end;
}

.greenOption .imageIconOptionsIconLabel {
  height: fit-content;
}