.closeVotingsViewAll {
  background-color: rgba(238, 241, 244, 0.5);
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  padding-top: 30px;
  padding-bottom: 30px;
}
.viewAllVoting {
  width: 900px;
  background-color: white !important;
  border-radius: 20px !important;
  margin-top: 40px;
  padding-top: 40px;
}
.headerViewAllVoting {
  font-size: 24px;
  font-weight: 700;
  color: rgb(8, 24, 49);
  margin-bottom: 50px;
  padding-left: 30px;
}
.subheaderViewAllVoting {
  font-size: 18px;
  font-weight: 700;
  color: rgb(8, 24, 49);
  padding-bottom: 30px;
  padding-left: 30px;
}
.rowViewAllVoting {
  margin-left: 30px;
  margin-right: 30px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  overflow-y: auto;
  scrollbar-width: none;
}
.pollItemSquare {
  width: 250px;
  margin-right: 10px;
  border: 1px solid rgba(128, 128, 128, 0.14);
  border-radius: 20px;
  padding: 20px;
}
.pollItemSquare .voting-content h3 {
  margin-top: 0px !important;
}
.activeVotingRow {
  padding-bottom: 30px;
}

.viewAllVoting .exit {
  margin-top: -25px;
  width: calc(100% - 15px);
  display: flex;
  justify-content: flex-end;
}
