.discordFullPage.dark {
  height: auto;
  background: transparent;
  border-radius: 0;
}

.discordFullPage.dark .discordRoomList {
  background-color: transparent !important;
  border: none !important;
}

.discordFullPage.dark .groupDiscordRoom {
  margin-left: 0px;
  margin-right: 0px;
  width: 100%;
}

.discordFullPage.dark .discordChatGrid {
  max-width: 867px;
  border-right: none;
  height: 867px;
  margin-right: 24px;
  margin-left: 24px;
  background: rgba(255, 255, 255, 0.16);
}

.discordFullPage.dark .messagesDiscordChat {
  height: calc(100% - 100px) !important;
}

.discordFullPage.dark .discordChat {
  padding: 24px;
}

.discordFullPage.dark .discordRoom {
  padding: 24px;
  border: none;
  margin-bottom: 24px;
}

.discordFullPage.dark .groupDiscordRoom .discordRoom .discordRoomContent .arrow-down img {
  transform: rotate(270deg);
}

.discordFullPage.dark .discordRoom .discordRoomContent {
  align-items: flex-start;
  margin: 0;
  padding: 0;
  justify-content: space-between;
}

.discordRoom.dark {
  margin-left: 0px;
  padding: 24px;
  background: rgba(255, 255, 255, 0.12) !important;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.12);
}

.discordRoom.dark .discordGrid.selected .discordRoomList {
  border: none;
}

.discordFullPage.dark .discordRoomHeader {
  color: white;
  text-transform: capitalize;
  font-family: Agrandir GrandLight;
  font-size: 18px;
}

.discordFullPage.dark .inputDiscordChat {
  width: 100%;
  background: rgba(255, 255, 255, 0.16);
  /* White */
  border: 1px solid #ffffff;
  padding: 18px 16px;
}
.discordFullPage.dark .inputDiscordChat form {
  width: 100%;
}
.discordFullPage.dark .inputDiscordChat input {
  background: transparent;
  width: 100%;
  box-shadow: none;
  color: #ffffff;
  font-size: 14px;
  padding: 0;
}

.discordFullPage.dark .iconImgDiscordMessage {
  width: auto;
  margin-left: 30px;
}

.discordFullPage.dark .inputDiscordChat button {
  background: transparent;
  padding: 0;
  border-radius: 0;
  margin-left: 30px;
}

.discordFullPage.dark .discordSideBar {
  padding: 24px;
  background: rgba(255, 255, 255, 0.16);
}

.discordFullPage.dark .discordSideBar .sideBarTitle,
.discordFullPage.dark .discordSideBar .sideBarTitleMedia {
  font-weight: 800;
  font-size: 18px;
  line-height: 23px;
  letter-spacing: 0.04em;
  color: #ffffff;
  margin-bottom: 8px;
}

.dark .messageDiscordChat.notmine .messageRowDiscordChat .bubble {
  background: rgba(255, 255, 255, 0.16);
  color: white;
  box-shadow: none;
  padding: 8px;
  border-radius: 0;
}

.dark .messageDiscordChat.mine .messageRowDiscordChat .bubble {
  box-shadow: none;
  padding: 8px;
  border-radius: 0;
  background: #181818;
  color: #707582;
  text-align: right;
}

.dark .messageDiscordChatContainer {
  padding: 8px 0px;
}

.dark .messageRowDiscordChat {
  align-items: flex-start;
  width: 50%;
}

.dark .notmine .messageColumnInfoDiscordChat {
  margin-left: 48px;
}

.dark .notmine .messageRowDiscordChat .userPhoto {
  width: 32px;
  height: 32px;
  min-width: 32px;
  margin-right: -32px;
  border: 1.5px solid #ffffff;
}

.dark .messageDate {
  width: 100%;
  margin-bottom: 32px;
  margin-top: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid white;
  padding-bottom: 16px;
  color: #ffffff;
  font-size: 14px;
}

.dark .messageColumnInfoDiscordChat .actionsRow {
  margin-left: 50px;
  z-index: 1;
  margin-bottom: -25px;
  margin-top: -6.5px;
  background-color: #b1b1b1;
  border-radius: 10px;
  width: fit-content;
  padding: 5px 10px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  color: white;
}
.dark .messageRowInfoDiscordChat .actionsRow svg {
  width: 12px !important;
  height: 12px !important;
}

.dark .sideBarUser {
  cursor: pointer;
  margin-left: -8px;
}
.dark .sideBarUser:first-child {
  margin-left: 0;
}
.dark .sideBarUserImg {
  width: 32px;
  height: 32px;
  background-color: #5a5a5a;
  border: 2px solid #ffffff;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.2);
}

.dark .sideBarMediaItem,
.dark .sideBarMediaItemNoFlex {
  width: 60px;
  height: 80px;
  border-radius: 0px;
  margin: 10px;
  background-color: #707582;
}

.dark .sideBarMediaItem {
  display: flex;
  align-items: center;
  justify-content: center;
}

.dark .sideBarMediaItem img {
  width: 14px !important;
  height: auto !important;
}

.dark .sideBarMediaItemNoFlex img {
  width: 16px !important;
  height: 16px !important;
}

.dark .sideBarMediaItemNoFlex .sideBarVideoIcon {
  z-index: 1;
  width: 60px;
  height: 80px;
  min-height: 80px;
  border-radius: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: calc(-80px);
}

.dark .sideBarMediaItemNoFlex .sideBarVideoIcon > div {
  width: 16px !important;
  height: 16px !important;
}

.dark .sideBarViewAll {
  color: white !important;
}
