.sidebarContainer {
  position: relative;
  max-width: 208px;
  display: flex;
  align-items: flex-start;
  z-index: 1;
}

.sidebar {
  display: flex;
  flex-direction: column;
  width: 209px;
  height: 100%;
  position: relative;
  transition: all 0.3s ease;
}

.sidebar.art {
  background: #9eacf2;
}

.sidebar.music {
  background: #f7f9fe;
}

.sidebar.data {
  background: #f7f9fe;
}

.sidebar.wallet {
  background: rgba(249, 255, 252, 1);
}

.sidebar.collab {
  background: rgba(255, 255, 255, 0.8);
}

.sidebar.daoMusic {
  background: #f6f7fb;
}

@media screen and (max-width: 750px) {
  .sidebar.daoMusic {
    display: none;
  }
}

@media screen and (max-width: 1339px) {
  .sidebar.daoMusic {
    width: 170px;
  }
}

.imgContainer /*.sidebar > img:first-child*/ {
  width: 8px;
  height: 8px;
  align-self: flex-end;
  cursor: pointer;
  position: absolute;
  top: 24px;
  right: 24px;
}

.sidebar .imgContainer > img {
  width: 8px;
  height: 8px;
}

.sidebar.hidden {
  opacity: 0;
  width: 0;
  min-width: 0px;
}

.sidebar.hidden * {
  cursor: inherit;
  z-index: 0;
  pointer-events: none;
}

.hideButton {
  position: absolute;
  z-index: 2;
  background: #181818;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0px;
  border-radius: 0px;
  top: 104px;
  width: 40px;
  height: 40px;
  transition: all 0.3s ease;
}

.hideButton.daoMusic {
  background: linear-gradient(97.63deg, #a0d800 26.36%, #0dcc9e 80%);
  top: 0;
}

.hideButton img {
  height: 16px;
}

.sidebar .footer {
  background: linear-gradient(97.63deg, #a0d800 26.36%, #0dcc9e 80%);
  box-shadow: 0px -2px 2px rgba(101, 203, 99, 0.8);
  height: 150px;
  padding-left: 24px;
  padding-right: 24px;
}

.content {
  height: 100%;
  justify-content: space-between;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  margin-top: 32px;
}

.content::-webkit-scrollbar {
  width: 10px;
}

.content::-webkit-scrollbar-thumb {
  width: 20px;
  background: rgba(238, 241, 244, 1);
}

.content ul {
  padding: 0px;
  margin-bottom: 40px;
  margin-top: 10px;
}

.content ul li {
  cursor: pointer;
  list-style-type: none;
  padding: 14px 0px;
  padding-left: 14px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 104.5%;
  display: flex;
  align-items: center;
}

.content ul a {
  cursor: pointer;
  list-style-type: none;
  padding: 14px 0px;
  padding-left: 14px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 104.5%;
  display: flex;
  align-items: center;
  color: #181818;
  text-decoration: none;
}

.linkSelected {
  background-color: #9eacf2;
}

.art .content ul li {
  color: #ffffff;
}

.music .content ul li,
.data .content ul li {
  color: #181818;
}

.content ul:last-child:not(.content ul:first-child) li {
  display: flex;
  align-items: center;
  font-weight: 800;
}

.content ul:last-child li:first-child img {
  margin-right: 10px;
}

.content ul:last-child li img {
  margin-right: 15px;
}

.data .options ul li img {
  margin-right: 8.5px;
}

.music .selected,
.data .selected {
  font-weight: 800;
}

.art .selected {
  font-weight: 800;
  color: #ddff57 !important;
  text-decoration: underline;
}

.sidebar.wallet {
  border-right: 1px #1717172a solid;
}

.wallet .selected {
  font-weight: 800;
  background: #edfff4;
}

.wallet .imgContainer {
  background: rgba(84, 101, 143, 0.06);
  border-radius: 8px;
  width: 24px;
  height: 23px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.wallet .imgContainer img {
  width: 4px;
  height: 9px;
}

.content a {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 104.5%;
  cursor: pointer;
  padding: 12px;
}

.art .content a {
  color: #ffffff;
}

.music .content a {
  color: #000000;
}
